@model ProductDTO

@{
    ViewData["Title"] = "Update Book";
}

<form method="post" asp-controller="Admin" asp-action="UpdateDTO" asp-route-id="@Model.Id">
    <h3 class="mb-5 text-white">Update Book</h3>

    <partial name="~/Views/Shared/Notifications.cshtml" />

    <div class="form-outline mb-3">
        <input type="hidden" class="form-control form-control-lg" id="Id" asp-for="Id" value="@Model.Id" />
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Name" asp-for="Name" value="@Model.Name">
        <label for="Name">Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" min="1" class="form-control" id="CountOfPages" asp-for="CountOfPages" value="@Model.CountOfPages">
        <label for="CountOfPages">Count Of Pages</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Price" asp-for="Price" value="@Model.Price">
        <label for="Price">Price</label>
    </div>

    <div class="mb-3">
        <textarea class="form-control" rows="5" style="resize: none" asp-for="About">@Model.About</textarea>
    </div>

    <button class="btn btn-success" type="submit">
        Update
    </button>
</form>